.background {
	fill: none;
	pointer-events: all;
}

#states {
	fill: #f2f2f2;
	stroke: #333333;
}

#districts {
	fill: none;
	stroke: steelblue;
	stroke-width : 2;
}

.texthalo {
  text-shadow: -1px -1px white, -1px 1px white, 1px 1px white, 1px -1px white, -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#state-borders {
	fill: none;
	stroke: #fff;
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	pointer-events: none;
}

.marker.active {
	fill: tomato;
	stroke: yellow;
	stroke-width: 1px;
}
svg {
	-webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,0.3));
	filter: drop-shadow( 0px 3px 3px rgba(0,0,0,0.25));
}
text {
	font-family: Arial;
}
