td.details-control {
	background: url('../css/icons/details_open.png') no-repeat center center;
	cursor: pointer;
}
tr.shown td.details-control {
	background: url('../css/icons/details_close.png') no-repeat center center;
}
.nav-tabs {
	margin-bottom: 10px;
}
#precinct-table_paginate {
	padding-top: 8px;
}